@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,500&family=Poppins:wght@500&display=swap');

body{
    font-family: Bebas Neue;
}


.navbar {
    background-color: rgb(109, 175, 9);
}
.btn{
    background-color: greenyellow;
}
#woman-color{
    color:indigo;  font-weight: 700;
}
#shop{
    width: 650px;
}
#box{
    height: 100px;
}